#interest {
    background-color: lightgray;
}

.row-button {
    margin-top: 50px;
}

.under-text {
    margin-top: -1.5rem;
    font-size: small;
    display: flex;
    flex-direction: row-reverse;
}